[submodule "python/mindwm/mindwm-sdk-python"]
	path = python/mindwm/mindwm-sdk-python
	url = http://github.com/mindwm/mindwm-sdk-python
[submodule "go/mindwm/mindwm-sdk-golang"]
	path = go/mindwm/mindwm-sdk-golang
	url = http://github.com/mindwm/mindwm-sdk-golang
